<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Dao 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.IndGitlabProjectsCopy1Dao" >
  <resultMap id="BaseResultMap" type="po.IndGitlabProjectsCopy1" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="default_branch" property="defaultBranch" jdbcType="VARCHAR" />
    <result column="namespace_id" property="namespaceId" jdbcType="BIGINT" />
    <result column="namespace_name" property="namespaceName" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="ssh_url" property="sshUrl" jdbcType="VARCHAR" />
    <result column="web_url" property="webUrl" jdbcType="VARCHAR" />
    <result column="http_url" property="httpUrl" jdbcType="VARCHAR" />
    <result column="visibility" property="visibility" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>