<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Dao 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.IndGitlabCommitsDao" >
  <resultMap id="BaseResultMap" type="po.IndGitlabCommits" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="author_name" property="authorName" jdbcType="VARCHAR" />
    <result column="author_email" property="authorEmail" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="committed_date" property="committedDate" jdbcType="TIMESTAMP" />
    <result column="authored_date" property="authoredDate" jdbcType="TIMESTAMP" />
    <result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
  </resultMap>
</mapper>