<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Dao 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.IndSonarqubeResultDao" >
  <resultMap id="BaseResultMap" type="po.IndSonarqubeResult" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bugs" property="bugs" jdbcType="VARCHAR" />
    <result column="vulnerabilities" property="vulnerabilities" jdbcType="VARCHAR" />
    <result column="code_smells" property="codeSmells" jdbcType="VARCHAR" />
    <result column="coverage" property="coverage" jdbcType="VARCHAR" />
    <result column="duplicated_lines_density" property="duplicatedLinesDensity" jdbcType="VARCHAR" />
    <result column="duplicated_blocks" property="duplicatedBlocks" jdbcType="VARCHAR" />
    <result column="quality_gate_status" property="qualityGateStatus" jdbcType="VARCHAR" />
    <result column="ncloc" property="ncloc" jdbcType="VARCHAR" />
    <result column="complexity" property="complexity" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_key" property="projectKey" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>