<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Dao 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.JenPipelineExecuteDao" >
  <resultMap id="BaseResultMap" type="po.JenPipelineExecute" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pipeline_id" property="pipelineId" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="build_no" property="buildNo" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="start_type" property="startType" jdbcType="VARCHAR" />
    <result column="start_by" property="startBy" jdbcType="VARCHAR" />
    <result column="pipeline_list" property="pipelineList" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>