<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Dao 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.QrtzCronTriggersDao" >
  <resultMap id="BaseResultMap" type="po.QrtzCronTriggers" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="SCHED_NAME" property="schedName" jdbcType="VARCHAR" />
    <id column="TRIGGER_NAME" property="triggerName" jdbcType="VARCHAR" />
    <id column="TRIGGER_GROUP" property="triggerGroup" jdbcType="VARCHAR" />
    <result column="CRON_EXPRESSION" property="cronExpression" jdbcType="VARCHAR" />
    <result column="TIME_ZONE_ID" property="timeZoneId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>