<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Dao 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.QrtzCalendarsDao" >
  <resultMap id="BaseResultMap" type="po.QrtzCalendars" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="SCHED_NAME" property="schedName" jdbcType="VARCHAR" />
    <id column="CALENDAR_NAME" property="calendarName" jdbcType="VARCHAR" />
    <result column="CALENDAR" property="calendar" jdbcType="LONGVARBINARY" />
  </resultMap>
</mapper>